#tax-classes-grid .kv-grid-table > tbody > tr > td.action { min-width:90px !important; width:90px !important; max-width:90px !important;} 
#tax-codes-grid .kv-grid-table > tbody > tr > td.action { min-width:90px !important; width:90px !important; max-width:90px !important;}
#final-invoiced-grid .kv-grid-table > tbody > tr > td.action { min-width:135px !important; width:135px !important; max-width:135px !important;}				
